<div class="container-fluid index-footer">
  <div class="container">
    <ul class="list-unstyled mb-0 py-5">
      <li>
        <a href="/team">Team Page</a>
      </li>
      <li>
        <a href="/users">Users Page</a>
      </li>
      <li>
        <a href="/image">Test Image Upload</a>
      </li>
      <li>
        <a href="/search">Test Image Search</a>
      </li>
      <li>
        <a href="/register">Test Register</a>
      </li>
      <li>
        <a href="/login">Test Login</a>
      </li>
    </ul>
  </div>
</div>