<header>
  <div class="disclaimer-banner text-center p-1">
    CSC648 - Software Engineering - Summer 2018
  </div>
  <nav class="navbar navbar-light bg-light">
    <a href="/">
      <span class="navbar-brand mb-0 h1">Fawbyr Project</span>
    </a>
  </nav>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122329956-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-122329956-1');
  </script>
</header>