<main  role="main" class="container py-3 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-between search-result w-100">
                <div class="search-result-image-container">
                    <img class="border img-rounded my-4" src=<%=image.high_res%> />
                </div>
            </div>
            <div class="search-result-copy-container p-2 px-3">
                <h5><%= image.name %></h5>
                <p><%= image.description %></p>
            </div>
        </div>
    </div>
</main>